server:
  port: 8081
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/issues2
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        ddl-auto: update
  output:
    ansi:
      enabled: always
  application:
    name=issues
  thymeleaf:
    cache: false
  jackson:
    serialization:
      indent-output: true

logging:
  level.org.springframework.data: DEBUG
  level.org.springframework.security: DEBUG

jwt:
  header: Authorization
  tokenHead: Iag-Issues

idcenter:
  id: 0001
  start-stmp: 1511001703989

mybatis:
  type-aliases-package: com.immediateactiongroup.issues.model
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations:
    - classpath:mybatis/mapper/*.xml